header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  justify-items: space-between;
  
  height: $headerHeight;
  @include media615 {
    display: block;
    height: auto;
  }
  picture {
    display: block;
    height: auto;
    
    @include media615 {
      max-width: 200px;
      margin: 80px auto;
    }
    img {
      height: 100%;
    }
  }
  #menuDiv {
    display: none;
    border-radius: 10px;
    width: 100%;
    @include media615 {
      display: block;
    }
    button {
      margin-left: 60%;
      border-radius: 10px;
    }
  }
  nav {
    background-color: #1a1a1a; 
    height: 100%;
    
  }
  
  nav ul li a {
    color: rgb(197, 198, 128); 
    text-decoration: none; 
    position: relative; 
    display: inline-block; 
    font-size: 25px;
    
  }
  
  nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: red;
    transition: width 0.4s ease;
    position: absolute;
    bottom: -5px; 
    left: 0;
    
  }
  
  nav ul li a:hover::after {
    width: 100%; 
    
  }
  li:nth-child(1) {
    position: relative;
    top: 30px;
    
  }
  li:nth-child(1):hover {
    
  }
  
  li:nth-child(2) a {
   position: relative;
   left: 100%; 
  }
  
  li:nth-child(2):hover {
    
  }
  
  li:nth-child(3) a {
    position: relative;
    left: 90%;
    bottom: 30px;
  }
  
  li:nth-child(3):hover {
    
  }
}
