.notification-bar {
    position: absolute;
    top: 40px;
    right: 70px;
    

}
  
  .notification-panel {
    position: absolute;
    right: 0;
    top: 200%;
    width: 300px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateX(100%);
  }
  
  .notification-bar .notification-panel {
    transform: translateX(0);
  }
  